@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

$active-theme: $default;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-400;
$color-background-default: $color-neutral-000;
$color-text-interactive-default: $color-text-default;
$color-text-interactive-hover: $color-text-default;

// set to 0 to disable
$letter-spacing-default: 0.03125rem;
$letter-spacing-tight: -0.075rem;
$letter-spacing-extra-tight: -0.12rem;

$border-radius-1: 0.3125rem;
$border-radius-2: 6.25rem;

$box-shadow-1: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.75;
$body-font-weight: $font-weight-regular;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-accent;
$heading-color-default: $color-neutral-500;
$heading-font-weight: $font-weight-semi-bold;
$heading-letter-spacing: $letter-spacing-default;
$heading-line-height: 1.1;
$heading-text-transform: none;

$heading-1-font-size: $font-size-900;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-700;
$heading-2-color: $heading-color-default;
$heading-3-font-size: $font-size-600;
$heading-3-color: $heading-color-default;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: 7rem 9.75rem;
$section-padding-block-small-screens: 6.25rem;
$section-padding-block-large-screens: 6.25rem;

$container-min-margin-inline-small-screens: $size-6;
$container-min-margin-inline-large-screens: $size-9;
$container-max-width: 70rem;
$container-max-width-narrow: 47rem;
$container-max-width-wide: 75rem;

// site header
$site-header-background-color: linear-gradient(
  135deg,
  $color-accent-100 0%,
  $color-accent-500 100%
);
$site-header-color: $color-neutral-000;
$site-header-padding: 3.5rem 0 9.75rem;
$site-header-margin: 0;
$site-header-jusitifcation-small-screens: space-between;
$site-header-jusitifcation-large-screens: start;
$site-header-alignment: center;
$site-header-gap: clamp($size-6, -6rem + 16.6667vw, $size-11);

//navigation
$navigation-background-color: transparent;
$navigation-color: $color-neutral-700;
$navigation-color-hover: $navigation-color;
$navigation-font-size: $font-size-400;
$navigation-gap: clamp($size-4, -2rem + 6.6667vw, $size-8);
$navigation-link-text-decoration: none;
$navigation-font-family: $font-family-accent;
$navigation-font-weight: $body-font-weight;

// site footer
$footer-background-color: $color-neutral-900;
$footer-text-color: $color-neutral-000;
$footer-link-color: $color-neutral-000;
$footer-link-color-hover: $footer-link-color;
$footer-link-font-family: $font-family-accent;
$footer-link-text-decoration: none;

// buttons
$button-font-family: $font-family-accent;
$button-font-size: $font-size-400;
$button-font-weight: $font-weight-bold;
$button-text-transform: none;
$button-padding: 0.9em;
$button-border: 0;
$button-border-radius: 100vw;

$button-primary-color: $color-accent-400;
$button-primary-background: $color-neutral-000;
$button-primary-color-hover: $color-neutral-000;
$button-primary-background-hover: $color-accent-300;
$button-outline-color: $color-neutral-000;
$button-outline-background: transparent;
$button-outline-color-hover: $color-accent-400;
$button-outline-background-hover: $color-neutral-000;

// cards
// $card-flow-spacing: $size-2;
// $card-padding: $size-8;
// $card-shadow: $box-shadow-1;
// $card-border-radius: $border-radius-2;
// $card-background-default: $color-primary-100;
// $card-color-default: $body-text-color;
// $card-font-family: $body-font-family;
// $card-line-height: 1.25;
// $card-heading-color-default: $card-color-default;
// $card-heading-font-size: $font-size-600;

// forms
// $form-label-color: $body-text-color;
// $form-label-font-family: $body-font-family;
// $form-label-font-weight: $font-weight-bold;
// $form-label-font-size: $body-font-size;

// $form-input-color: $body-text-color;
// $form-input-font-family: $body-font-family;
// $form-input-font-weight: $font-weight-semi-bold;
// $form-input-font-size: $body-font-size;
// $form-input-background-color: $color-neutral-100;
// $form-input-border-default: 3px solid $color-primary-200;
// $form-input-border-focus: 3px solid $color-primary-400;
// $form-input-padding: $size-3;
// $form-input-border-radius: $border-radius-1;

// $form-placeholder-color: $color-primary-300;
// $form-placeholder-font-family: $form-input-font-family;
// $form-placeholder-font-weight: $form-input-font-weight;
// $form-placeholder-font-size: $body-font-size;

// $form-group-spacing: 0.5rem;

$animation-transition-default: opacity 400ms linear, transform 500ms ease-in;
$animation-slide-in-transition: $animation-transition-default;
$animation-slide-in-offset: $size-12;
$animation-fade-in-transition: $animation-transition-default;
